.about {
    h2 {
        color: $green;
        font-weight: 900;
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 400;

        span {
            font-weight: 900;
        }
    }

    .skills {
        img,
        svg {
            max-height: 3rem;
        }

        p {
            text-align: center;
        }
    }

    .experience {
        div {
            display: inline-block;
            margin-right: 1rem;
        }
        img {
            max-height: 2rem;
        }

        p {
            text-align: center;
            font-size: 0.75rem;
        }
    }
}

.dark {
    background-color: $black;
    .about {
          
        .skills {
            img {
                max-height: 3rem;
            }
    
            p {
                text-align: center;
            }
        }
    
        .experience {
            div {
                display: inline-block;
                margin-right: 1rem;
            }
            img {
                max-height: 2rem;
            }
    
            p {
                text-align: center;
                font-size: 0.75rem;
            }
        }
    }
}